<ion-header>
  <ion-toolbar>
    <ion-title>Sueldo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Ingrese el valor del sueldo</ion-label>
    <ion-input type="number" [(ngModel)]="sueldo"></ion-input>
    <ion-button expand="block" (click)="calcularRet(sueldo)"> Calcular RETEFUENTE</ion-button>
    <ion-button expand="block" (click)="calcularIngSolidario(sueldo)"> Calcular INGRESO SOLIDARIO</ion-button>
    <ion-button expand="block" (click)="calcularSalud(sueldo)"> Calcular SALUD</ion-button>
    <ion-button expand="block" (click)="calcularSalud(sueldo)"> Calcular PENSION</ion-button>
    <ion-button expand="block" (click)="calcularBono(sueldo)"> Calcular BONO</ion-button>


    <ion-item *ngIf="sueldo !== undefined">
      <ion-label>Retefuente: {{ reteFuente }}</ion-label>
    </ion-item>
    <ion-item *ngIf="sueldo !== undefined">
      <ion-label>Sueldo + Ingreso Solidario: {{ ingresoSolidario }}</ion-label>
    </ion-item>
    <ion-item *ngIf="sueldo !== undefined">
      <ion-label>Desceunto en salud: {{ descSalud }}</ion-label>
    </ion-item>
    <ion-item *ngIf="sueldo !== undefined">
      <ion-label>Descuento en pension: {{ descPension }}</ion-label>
    </ion-item>
    <ion-item *ngIf="sueldo !== undefined">
      <ion-label>Sueldo neto mensual: {{ sueldoTotal }}</ion-label>
    </ion-item>

  </ion-item>
</ion-content>
