.product-list {
  --ion-safe-area-top: env(safe-area-inset-top);
  --ion-safe-area-bottom: env(safe-area-inset-bottom);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-card {
  min-width: 300px;
  width: 90%;
  margin: 20px;
}

.product-card ion-thumbnail {
  width: 100%;
  height: 200px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-card ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-card ion-button {
  width: 100%;
  margin-top: 10px;
}
